Repository crinkapp/crink_api, pull requests merged in 2020-09, with the labels that each got.

#82 Diagnostic controller update
  .gitignore
  controllers/DiagnosticController.js
  controllers/PublicationController.js
  controllers/TagsController.js
  models/DiagnosticModel.js
  models/TagsModel.js
  routes/diagnostic.js
Labels: Model, documentation, enhancement

#86 Add aws config
  aws/aws-bucket-s3.js
  controllers/PublicationController.js
  package-lock.json
  package.json
  routes/publications.js
Labels: controller, enhancement

#87 Update db
  app.js
  controllers/TagsController.js
  controllers/UsersController.js
  models/TagsModel.js
  models/UsersModel.js
  sequelize.js
Labels: Model

#89 Get if user favs the publication
  controllers/PublicationController.js
Labels: controller

#90 Fixe search
  controllers/PublicationController.js
  controllers/SearchController.js
  routes/search.js
Labels: controller, enhancement
